process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// NANOPLOT
if (!params.skip_chopper) {
    process {
        withName: '.*:NANOPLOT_BEFORE_CHOPPER' {
            ext.args = params.nanoplot_fastq_options
            publishDir = [
                path: { "${params.outdir}/${meta}/nanoplot/pre_trim/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
    process {
        withName: 'CHOPPER' {
            ext {
                prefix = { "${meta}.trimmed" }
                args = '-f'
                args2 = params.chopper_fastq_options
                args3 = '-9'
            }
            publishDir = [
                path: { "${params.outdir}/${meta}/chopper/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        }
    }
    process {
        withName: '.*:NANOPLOT_AFTER_CHOPPER' {
            ext.args = params.nanoplot_fastq_options
            publishDir = [
                path: { "${params.outdir}/${meta}/nanoplot/post_trim/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        }
    }
} 

if (params.skip_chopper) {
    process {
        withName: '.*:NANOPLOT_WITHOUT_CHOPPER' {
            ext.args = params.nanoplot_fastq_options
            publishDir = [
                path: { "${params.outdir}/${meta}/nanoplot/without_trim/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        }
    }
}

// if (!params.skip_chopper && !params.skip_multiqc) {
//     process {
//         withName: '.*:MULTIQC_FINALQC' {
//             ext.args = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
//             publishDir = [
//                 path: { "${params.outdir}/batch_qcs/multiqc/final_qc" },
//                 mode: params.publish_dir_mode,
//                 saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//             ]
//         }
//     }

//     process {
//         withName: '.*:MULTIQC_RAWQC' {
//             ext.args = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
//             publishDir = [
//                 path: { "${params.outdir}/batch_qcs/multiqc/raw_qc" },
//                 mode: params.publish_dir_mode,
//                 saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//             ]
//         }
//     }
// }
